@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;

}

aside {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.47)), url(img/pexels-vlad-alexandru-popa-1402787.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

.container {
    width: 80%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.841);
    padding: 15px 10px;
    border-bottom: 2px solid rgb(0, 128, 105);
}

.nav-logo {
    font-weight: bold;
    color: rgb(0, 128, 105);
    font-size: 20PX;
}

.piece {
    color: white;
    font-size: 25px;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li {
    font-weight: bold;
    color: rgb(0, 128, 105);
    border-bottom: 1px solid rgb(0, 128, 105);
    margin: 0 13px;
    list-style: none;
    cursor: pointer;
    border: 1px solid;
    padding: 3px;
    font-size: 14px;
    border-radius: 5px;
    transition: all ease 0.5s;
}
main {
    padding: 25px 0;
}

.nav-links ul li:hover {
    background-color: rgba(245, 245, 245, 0.148);
    transform: scale(1.2);
    font-size: 12px;
    box-shadow: inset 1px 1px 5px 5px rgb(0, 128, 105);
    color: white;
    border: none;
}

fieldset {
    padding: 15px;
    color: white;
}

.content h1 {
    margin: 0 0 5px 0;
}

blockquote {
    margin-top: 5px;
}

.text {
    margin: 90px 0 70px 0;
    text-align: center;
    color: white;
}

.text h1 {
    font-size: 45px;
    text-shadow: 2px 1px rgb(0, 128, 105);
}

.text p {
    font-size: 25px;
    text-shadow: 1px 1px rgb(0, 128, 105);
    margin: 25px auto;
    padding-bottom: 2px;
}

.text button {
    padding: 7px 50px;
    background-color: rgba(245, 245, 245, 0.119);
    color:  white;
    font-size: 17px;
    transition: all ease 0.5s;
    border: 1px solid rgb(0, 128, 105);
    border-radius: 4px;
}

.text button:hover {
    box-shadow: 1px 1px 5px 5px rgba(0, 128, 105, 0.485);
    transform: translateY(15px);
    border-radius: 10px 0 10px 0;
    border: none;
}

.line {
    background-color: white;
    height: 2px;
    border-radius: 2px;
    width: 40%;
    margin: auto;
    animation: anime 4s infinite;
    transition: all 1s ease;
    z-index: -50;
}

@keyframes anime {
    0% {
        transform: translateX(-50%);
        background-color: white;
    }
    50% {
        transform: translateX(50%);
        background-color: rgb(0, 128, 105);
        box-shadow: 1px 1px 5px 5px rgb(0, 128, 105);
    }
    100% {
        transform: translateX(-50%);
        background-color: white;
    }
}

.main-2 {
    height: 100vh;
    background-color: rgb(0, 128, 105);
}

.main-2 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-frame {
    height: 450px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.835);
    border-radius: 7px;
    padding: 10px;
    color: white;

}

.calculator-frame input {
    width: 100%;
    height: 40px;
    margin: 15px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.row button {
    padding: 2px 10px;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.row-2 button {
    height: 25px;
    width: 55px;
    cursor: pointer;;
}

.calculator-frame input {
    font-size: 25px;
    text-align: right;
    background-color: white;
}

.calculator-frame input:focus {
    color: white;
}

@media (max-width: 450px) {

    .fa-solid {
        color: white;
        font-size: 25px;
    }

    aside {
        /* height: 100vh; */
    }

    .nav-links {
        position: absolute;
        top: 10%;
        bottom: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.893), rgba(0, 0, 0, 0.87)), url(img/pexels-vlad-alexandru-popa-1402787.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        right: 0;
        left: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    .show {
        bottom: 0;
        padding: 30px;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links ul li {
        margin: 25px 0;
        padding: 8px 30px;
    }

    .container {
        width: 100%;
    }

    .text {
        margin: 70px 0 0 0;
    }

    .text h1 {
        font-size: 30px;
    }
    .text p {
        font-size: 20px;
        margin: 35px 0;
    }

    .text button {
        margin-bottom: 70px;
    }
}